*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:none;
}
/* a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(67, 67, 67);    
  }
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  } */
body{
    position:relative;
    width: 100%;
    min-height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family: 'roboto', sans-serif;
}
.mainbody{
    position: relative;
    width:90%;
    height: 87vh;
    /* border: 5px solid #fff; */
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.logout{
    position:absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color:#fff;
    
     text-decoration: underline;
     cursor: pointer;
     outline: none;
     border: none;
}
.greeting{
    position: absolute;
    top: 19px;
    right: 200px;
}

.login-info{
    height: 10rem;
    width: 300px;

    /* background-color: aqua; */
}
.login-info button{
    /* background-color: aqua; */
    /* height: 30px;
    border-radius:4px ;
    padding: 4px;
    background-color: #fff; */

}
h2{
color:aliceblue;
text-shadow: 2px 2px 4px white;
}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
}
.link:hover{
    color:#fff;
}

/* Styles */
.columnstyle{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
}
.login-smooth-lightup input::placeholder{
    color:#fff;
    font-size: 17px;
    
}
.login-smooth-lightup input:focus{
    background-color: #fff;
    color: #000;
    border: none;
}
.login-smooth-lightup input, .button{
    width:80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    color:#fff;
    padding: 15px;
    transition: 0.5s;
    text-transform: capitalize;
    border: 0;
    outline: none;
}
.login-smooth-lightup input:focus::placeholder{
    color:rgb(0, 0, 0);
    opacity: .4;
}
input:hover{
    background: white;
    color: #000;
}
input:hover::placeholder{
    opacity: .4; 
    color: #000;
}
.login-info .button{
    /* height: 70px; */
    width:49px;
    padding:0;
    cursor:pointer;
    

}
.button:hover{
    background: white;
    color: #000;
    opacity: .6;
}
.alert-box{
    position: absolute;
    top:6%;
    left:50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width:auto;
    height: auto;
    padding:10px;
    text-transform: capitalize;
    background-color:rgb(255,119,119);
    border-top: 10px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#fff;
    font-family: 'roboto',sans-serif ;
    text-align: center;
    transition: 1s;
    opacity: 0;
}
.alert{
    height: 90%;
    width:100%;
    /* opacity: .5; */
}
.alert-active{
    opacity:1;
}
.shadow-text{
text-shadow:3px 3px 3px rgba(255, 254, 254,.4);
}
.drop-shadow-text{
   filter: drop-shadow(00 30px #fff);
}
#wholepage{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity:0;
}
.visible{
    opacity:1;
}